<?xml version="1.0"?>

<launch>
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find robotiq_force_torque_sensor)/urdf/ur5_fts_test.urdf.xacro'" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
        <param name="use_gui" value="true" />
    </node>

    <!-- rviz -->
    <node pkg="rviz" type="rviz" name="rviz"/>
</launch>
