<?xml version="1.0" ?>

<!-- 
robotiq-3f-gripper_actuated_gazebo - actuated version of the robotiq robotiq-3f-gripper, 3 fingered gripper.
-->
<robot name="robotiq-3f-gripper_actuated_gazebo" xmlns:xacro="http://ros.org/wiki/xacro">
    <xacro:include filename="$(find robotiq_3f_gripper_visualization)/cfg/robotiq_hand_macro.urdf.xacro" />

    <link name="world"/>

    <robotiq_hand prefix="" parent="world" reflect="">
      <origin xyz="0 0 0.5" rpy="0 0 0"/>
    </robotiq_hand>

  <gazebo>
    <!-- plugin for the RobotiQ hand -->
    <plugin name="robotiq_hand_plugin" filename="libRobotiqHandPlugin.so">
      <kp_position>10.0</kp_position>
      <kd_position>0.5</kd_position>
      <!-- Some optional parameters. Check the plugin header file for all of them. -->
      <!--<prefix>pre_</prefix>-->
      <!-- This is chosen, so it's compatible with the "Robotiq3FGripperSimpleController.py"-->
      <topic_command>/Robotiq3FGripperRobotOutput</topic_command>
      <!-- <topic_state>/hand/state</topic_state> -->

    </plugin>
  </gazebo>
</robot>

