<launch>
	<param name="robot_description" command="$(find xacro)/xacro  --inorder  '$(find robotiq_ft_sensor)/urdf/examples_of_macros/example_use_robotiq_ft300.xacro'" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find robotiq_ft_sensor)/launch/rviz_sesion.rviz" required="true"/>
</launch>
