<launch>
  <arg name="gripper_name" default="gripper" />
  <arg name="slave_number" default="1" />
  <arg name="activate" default="True" />
  <arg name="ifname" default="eth1" />

  <node pkg="robotiq_c_model_control" type="c_model_ethercat_node" name="gripper_server" output="screen">
      <param name="ifname" type="str" value="$(arg ifname)" />
      <param name="activate" type="bool" value="$(arg activate)" />
      <param name="slave_number" type="int" value="$(arg slave_number)"/>
      <!-- Remove these remaps to make the node compatible with the existing python scripts  -->
      <remap from="/CModelRobotOutput" to="/$(arg gripper_name)/output" />
      <remap from="/CModelRobotInput" to="/$(arg gripper_name)/input" />
    </node>
</launch>
