#!/usr/bin/env python
PACKAGE="robotiq_s_model_control"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("ind_control_fingers", bool_t, 0, "Set individual control of fingers", False)
gen.add("ind_control_scissor", bool_t, 0, "Set individual control of scissor", False)

mode_enum = gen.enum([gen.const("Basic",   int_t, 0, "Basic mode"),
                      gen.const("Pinch",   int_t, 1, "Pinch mode"),
                      gen.const("Wide",    int_t, 2, "Wide mode"),
                      gen.const("Scissor", int_t, 3, "Scissor mode")], "An enum to set the grasp operation mode")

gen.add("mode", int_t, 0, "The grasping mode", 0, edit_method = mode_enum)

gen.add("velocity", double_t, 0, "Set velocity for fingers", 66, 22, 110)
gen.add("force", double_t, 0, "Set force for fingers", 30, 15, 60)

exit(gen.generate(PACKAGE, "robotiq_s_model_control", "SModel"))
