<?xml version="1.0"?>
<launch>

  <!-- startup simulated world --> 
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="false"/>
  </include>

  <!-- send robot to urdf to param serv -->
  <include file="$(find robotiq_s_model_visualization)/launch/robotiq_gripper_upload.launch">
  </include>

  <!-- spawn in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -z 0.1" respawn="false" output="screen" />

</launch> 
