<?xml version="1.0"?>
<launch>
  <arg name="prefix" default="" />

  <node name="robotiq_s_controller" pkg="robotiq_s_model_control" type="s_model_can_node" output="screen"/>

  <group ns="robotiq_s_controller">
    <rosparam subst_value="True">
      ## joint_state_controller
      $(arg prefix)joint_state_controller:
          type: joint_state_controller/JointStateController
          publish_rate: 50

      ## joint_group_position_controller
      $(arg prefix)hand_group_position_controller:
          type: position_controllers/JointGroupPositionController
          joints:
           - $(arg prefix)finger_1_joint_1
           - $(arg prefix)finger_2_joint_1
           - $(arg prefix)finger_middle_joint_1
           - $(arg prefix)palm_finger_1_joint
    </rosparam>
    <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
      output="screen" args="$(arg prefix)joint_state_controller $(arg prefix)hand_group_position_controller" />

  </group>
</launch>
